* {
    overflow-x: hidden;

}

.bottomContainer {
    background-color: #111634;
    margin: auto;
    height: auto
}

.bottomContainer>h3 {
    background-color: #111634;
    font-style: normal;
    line-height: 54px;
    overflow-y: hidden;
    letter-spacing: 0.04em;
}

.upper {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.details>h4 {
    color: antiquewhite;
    font-size: large;
    overflow-y: hidden;
    margin-left: -70px;
    font-weight: 700;
}

.details>p {
    color: #A4A4A4;
    font-size: 17px !important;
    line-height: 25px;
}

.centerButton {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 45px;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #684BFE;
    padding: 0.6rem 1.2rem;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn:hover {
    background-color: #694bfea6;
    color: #fff;
}

.comment {
    height: fit-content;
    width: 80%;
    background: #2B3566;
    border-radius: 15px;
    margin: auto;
    padding-left: 40px;
    margin-bottom: 20px;

}

.pics {
    width: 80%;
    height: 450px;
    overflow-y: hidden;
    border-radius: 15px;
    margin: auto;
}