
.landing-page{
    background-color: #111634;
    color: white;
}
.cardLandingPage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 10rem auto;
}
.cardLandingPage > img{
    
    height: 263.43px;
    width: 495.92px;
}
.landing-page:first-child > img{
    height: 441px;
    width: 761px;
    border-radius: 20px;
}
.card-body{
    margin-right: 5px;
    width: 650px;
}
.card-title-landingPage{
    font-size: 40px;
}
.card-text-landingPage{
    font-size: 18px;
    width: 500px;
    text-align: justify;
    margin-bottom: 40px;
}
.navbar{
    background-color:  #030824;
 }
.logo{
    font-size: 2rem;
    margin-left: 1rem;
    color: #fff;
}
.buttons{
    text-decoration: none;
    color: #fff;
    background-color: #684BFE;
    font-family: 'Inter', sans-serif;
    padding: 1.2rem 1.5rem;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}
.buttons:hover{
    background-color: #694bfea6;
    color: #fff;
}
.arrow-img{
    filter: invert(1);
    margin-left: 1rem;
}
.btn-landingPage {
    background-color: #684BFE;
    font-family: 'Inter', sans-serif;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    margin-right: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}
.btn-landingPage:hover {
    background-color: #694bfea6;
}
.btn-outline-landingPage {
    color: #fff;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    outline: 1px solid #684BFE;
    border: none;
    padding: 0.7rem 1.5rem;
    margin-right: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}
.btn-outline-landingPage:hover {
    color: #fff;
    background-color: #684BFE;
}
.footer{
    text-align: center;
    background-color: #030824;
    font-size: 3.5rem;
    padding: 2rem;
    color: #fff;
}