.boxcontainer{
    width:550px;
    min-height:200px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #2B3566;
    box-shadow: 0 0 2px rgba(15,15,15,0.28);
    position: relative;
    overflow: hidden;
}

.backdrop{
    width: 160%;
    height: 500px;
    position:absolute;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
 
    background: rgba(104,75,254,1);
    
}


.headercontainer{
    width:100%;
    display:flex;
    flex-direction: column;
}



h4{
    color:#fff;
    font-weight:500 ;
    font-size: 17px;
    z-index: 30;
    display: flex;
    justify-content: space-around;
    
}

.innercontainer{
    width:90%;
    display:flex;
    flex-direction: column;
   padding-left: 4em;;
   padding-top: 4em;
}
.top{
    display: flex;
    width: 100%;
    height:70px;
}

.student{
    width:50%;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    padding-left: 5em;
    padding-top: 1em;
    background-color: #684BFE;
}
.student:hover{
    color:#fff;
}
.admin{
    width:50%;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    padding-left: 5em;
    padding-top: 1em;
}
.admin:hover{
    background-color: #684BFE;
    color:#fff;
}
.admin:focus{
    background-color: #684BFE;
}