.homePage {
    background: #111634;
    height: 100vh;
}


.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: visible;

}

.search-filter {
    padding-left: 200px;
}