

.comments {
    margin-top: 20px;
  }
  .upper{
    display:flex;
    justify-content: space-between;
  }
  
  .commentsTitle {
    font-size: 25px;
color:#fff;
    margin-bottom: 18px;
    padding-top:18px;
    padding-left: 18px;
    font-weight: 700;
  }
  .commentlinker{
    font-size: 18px;
    color:#fff;
    text-decoration: underline;
    padding-top: 15px;
    padding-right: 15px;
  }
  .commentsContainer {
    margin-top: 40px;
  }
  
  .formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .commentFormTextarea {
  width:100%;
    height: 100px;
  padding-left: 40px;
    
  }
  

  .commentFormButton {
    text-decoration: none;
    color: #fff;
    background-color: #684BFE;
    padding: 0.3rem 1.2rem;
    border-color: transparent;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left:20px;
  }
  
  .commentFormButton:hover:enabled {
    cursor: pointer;
    background-color: #694bfea6;
    color: #fff;
  }
  
  .commentFormButton:disabled {
    opacity: 0.7;
    cursor: default;
  }
  
  .commentFormCancelButton {
    margin-left: 10px;
  }
  
  
  .comment {
    display: flex;
    padding-left:18px;
    border-radius: 15px;
background: #2B3566;
box-shadow: inset 35px 35px 70px #1a203d,
            inset -35px -35px 70px #3c4a8f;
    margin-bottom: 18px;
    width:90%;
 margin-left: 28px;

  }
  
  .commentImageContainer {
    margin-right: 12px;
  }
  
  .commentImageContainer img {
    height:40px;

  }
  
  .commentRightPart {
    width:70%;

  }
  
  .commentContent {
    display: flex;
    
    
  }
  
  .commentAuthor {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color:#fff;
  }
 .date{
    color:#fff;
    padding-left: 15px;
    padding-top: 8px;
    font-size: small;
  }
  
  .commentText {
    font-size: 15px;
    color:#FFF
  }
  
  .commentactions {
    display: flex;

    font-size: 12px;
    color: #A4A4A4;
    
    cursor: pointer;
    margin-top: 8px;
  }
  
  .commentAction {
    margin-right: 8px;
  }
  
  .commentAction:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .replies {
    margin-top: 20px;
  }

  