.homeCard{
    color: #fff;
    background-color: #232B53;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem;
    width: 24rem;
    cursor: pointer;
}
.bg-color{
    background-color: #48CCC6 !important;
}
.cardTitle{
    font-weight: 600;
    font-size: 21px;
}
.cardSubtitle{
    font-weight: 100;
    font-size: 14px;
    margin-top: -20px !important;
}
.tech-stack{
    color: #A4A4A4;
    font-size: 17px;
    font-weight: 200;
}
.tech-stack > p{
    display: flex;
    flex-wrap: wrap;
    
}

.tech-stack > p:nth-child(1):before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FD4A71;
    opacity: 0.8;
    padding-right: -50px;
}
.tech-stack > p:nth-child(2):before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #684BFE;
    opacity: 0.8;
    
}
.tech-stack > p:nth-child(3):before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #48CCC6;
    opacity: 0.8;
}
.tech-stack > p:nth-child(4):before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #48CCC6;
    opacity: 0.8;
}