.pagination-home{
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    margin-top: 170px;
}
.pagination-ul{
    list-style-type: none;
    display: flex;
    color: white;
}
.pagination-li{
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    background: #232B53;
}
.pagination-li:nth-child(1){
    background: #684BFE;
}
