.buttons{
    text-decoration: none;
    color: #fff;
    background-color: #684BFE;
    padding: 0.4rem 1.5rem;
    border-color: transparent;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    margin-top:30px;
}
.buttons:hover{
    background-color: #694bfea6;
    color: #fff;
}