h2{
    

font-weight: 600;
font-size: 30px;
line-height: 40px;
color: #FFFFFF;
padding-left: 70px;
}
.upper{
    display: flex;
}

.upper >img{
    height: 30px;
    width:30px;
    margin-left:10px;
}
.upper> img:hover{
    cursor: pointer;
  
    
}
h4{
    

    font-family: var(--bs-body-font-family);
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    overflow-y: hidden;
    justify-content: flex-start;
    padding-left: 70px;
    }
.details{
    position:relative;
    left:-110px;
    margin-top:50px
}