

.img{
   
    position: absolute;
   border:20px solid #684BFE;
 
box-shadow: 0px 4px 4px rgba(104, 75, 254, 0.47);
    border-radius: 50%;
height: 250px;
width: 250px;
background-clip: inherit;


z-index: 10;
}